<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>April 11th, 2020 - PHPKonf İstanbul PHP Conference</title>

    <meta name="keywords"
          content="PHP, PHPKonf, PHP Conference, PHP Konferansı, İstanbul PHP Konferansı, Istanbul PHP Conference">
    <meta name="author" content="PHPKonf">

    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="assets/css/custom-animations.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="hero" class="hero-section bg2 bg-cover light-text overlay gradient-overlay">
    <div class="heading-block centered-block align-center">
        <div class="container">
            <h5 class="heading-alt" style="margin-bottom: 8px;">
                <span class="fa fa-calendar-o color-white"></span> 11th.apr.2020
            </h5>
            <h5 class="heading-alt" style="margin-bottom: 8px;">
                <span class="fa fa-map-marker color-white"></span> Istanbul
            </h5>
            <div class="hero-logo">
              <img src="./assets/images/phpkonf.png" alt="PHPKONF LOGO">
            </div>
            <h5>A PHP conference in the city connects Europe and Asia</p>
    </div>
</section>

<header class="header header-black">
    <div class="header-wrapper">
        <div class="container">
            <div class="col-sm-2 col-xs-12 navigation-header">
                <a href="index.html" class="logo">
                    <img src="assets/images/logo@2x.png" alt="PHPKonf" width="110" height="34" class="retina-hide">
                    <img src="assets/images/logo@2x.png" alt="PHPKonf" width="110" height="34" class="retina-show">
                </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation"
                        aria-expanded="false" aria-controls="navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="col-sm-10 col-xs-12 navigation-container">
                <div id="navigation" class="navbar-collapse collapse">
                    <ul class="navigation-list pull-right light-text">
                        <li class="navigation-item"><a href="#speakers" class="navigation-link">Speakers</a></li>
                        <li class="navigation-item"><a href="#schedule" class="navigation-link">Schedule</a></li>
                        <li class="navigation-item"><a href="#prices" class="navigation-link">Tickets</a></li>
                        <li class="navigation-item"><a href="#sponsors" class="navigation-link">Sponsors</a></li>
                        <li class="navigation-item"><a href="#contacts" class="navigation-link">Location</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="about" class="section align-center">
    <div class="container">
        <h3 class="main-title">About PHPKonf</h3>
        <p>With over 600 delegates, speakers, and sponsors, PHPKonf İstanbul PHP conference aims to deliver fantastic up-to-date content about PHP and related web technologies in a comfortable and professional setting. There are countless networking opportunities to engage with international speakers and delegates, which makes the event one you won't want to miss.</p>
        <p>Here's a taste of all the fun we had in our previous editions!</p>
        <div>
            <ul class="list-inline">
                <li><a target="_blank" href="http://netsparker.phpkonf.org">2019</a></li>
                <li><a target="_blank" href="http://2018.phpkonf.org">2018</a></li>
                <li><a target="_blank" href="http://2017.phpkonf.org">2017</a></li>
                <li><a target="_blank" href="http://2016.phpkonf.org">2016</a></li>
                <li><a target="_blank" href="http://2015.phpkonf.org">2015</a></li>
                <li><a target="_blank" href="http://2014.phpkonf.org">2014</a></li>
            </ul>
        </div>

        <div class="gallery masonry">
				<span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-1">
						<img src="assets/images/photos/1-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-1">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<h5 class="heading-alt">RASMUS LERDORF, PHPKONF 2017</h5>
							<br/>

							<img src="assets/images/photos/1.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>

            <span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-2">
						<img src="assets/images/photos/2-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-2">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<h5 class="heading-alt">FABIEN POTENCIER, PHPKONF 2016</h5>
							<br/>

							<img src="assets/images/photos/2.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>

            <span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-3">
						<img src="assets/images/photos/3-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-3">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<h5 class="heading-alt">MARCO PIVETTA, PHPKONF 2016</h5>
							<br/>

							<img src="assets/images/photos/3.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>

            <span class="masonry-item">
					<a href="#" class="gallery-thumb-link" data-modal-link="gallery-4">
						<img src="assets/images/photos/4-thumb.jpg" alt="">
					</a>

					<div class="modal-window" data-modal="gallery-4">
						<div class="modal-box medium animated" data-animation="zoomIn" data-duration="700">
							<span class="close-btn icon icon-office-52"></span>

							<h5 class="heading-alt">JORDI BOGGIANO / PIERRE JOYE, PHPKONF 2015</h5>
							<br/>

							<img src="assets/images/photos/4.jpg" class="full-width-img" alt="gallery1">
						</div>
					</div>
				</span>
        </div>
    </div>
</section>

<div id="app">
<section id="speakers" class="section align-center">
    <div class="container">
        <h3 class="main-title">Speakers</h3>
        <p>PHPKonf is focused on education and discussion of the PHP programming language. We aim to attract the best speakers, contributors, and educators from around the world in hopes of providing the community with the best resources on the PHP programming language every year.
        </p>
        <br/>
        <br/>

        <div class="col-sm-4" v-for="speaker in getRandomSpeakers()">
            <div class="speaker">
                <div class="photo-wrapper rounded"><img width="200px" height="200px" :src="speaker.photo"
                                                        :alt="speaker.name" class="img-responsive"></div>
                <h3 class="name">{{ speaker.name }}</h3>
                <p>
                    <small>{{ speaker.title }}</small>
                </p>
                <ul class="speaker-socials">
                    <li v-for="social in speaker.social_profiles">
                        <div v-if="social.platform == 'linkedin'">
                            <a target="_blank" :href="'https://' + social.platform + '.com/in/' + social.username">
                                <span :class="'fa fa-' + social.platform"></span>
                            </a>
                        </div>
                        <div v-else>
                            <a target="_blank" :href="'https://' + social.platform + '.com/' + social.username">
                                <span :class="'fa fa-' + social.platform"></span>
                            </a>
                        </div>
                    </li>
                    </li>
                </ul>
            </div>
        </div>

        <div class="clearfix">
            <a href="speakers.html" class="btn">VIEW ALL SPEAKERS</a>
        </div>

    </div>
</section>

<section id="schedule" class="section schedule-section align-center">
    <div class="container">
        <h3 class="main-title">Schedule</h3>
    
        <p>There will be 2 cake & coffee breaks, a 1 lunch, and rolling tea, coffee and soft drinks included.<br/>The day finishes with a keynote before we move on to the main conference social.</p>

        <br>

        <!-- Schedule start -->
        <div class="schedule">

            <!-- Navigation by day start -->
            <!-- <div class="nav-wrapper"><ul class="nav nav-schedule">
                <li v-bind:class="{ active: day.isSelected }" v-for="day of days"><a v-bind:href="`#day${day.id}`" data-toggle="tab"><h5 class="highlight">{{ day.date }}</h5><p class="text-alt">Sessions</p></a></li>
            </ul></div> -->
            <!-- Navigation by day end -->

            <!-- First level content start -->
            <div class="tab-content">

                <!-- Day content start -->
                <div v-bind:id="`day${day.id}`" v-bind:class="{ active: day.isSelected, 'tab-pane fade in': true }" v-for="day of days">

                    <!-- Navigation by auditorium start -->
                    <div class="nav-wrapper"><ul class="nav nav-schedule">
                        <li v-bind:class="{ active: track.isSelected }" v-for="track of day.tracks">
                            <a v-bind:href="`#day${day.id}_auditorium${track.id}`" data-toggle="tab">
                                <div>{{ track.name }}</div>
                            </a>
                        </li>
                    </ul></div>
                    <!-- Navigation by auditorium start -->

                    <!-- Second level content start -->
                    <div class="tab-content tab-content-schedule">

                        <!-- Auditorium content start -->
                        <div v-bind:id="`day${day.id}_auditorium${track.id}`" v-bind:class="{ active: track.isSelected, 'tab-pane fade in': true }" v-for="track of day.tracks">

                            <!-- Accordion start -->
                            <div class="panel-group" v-bind:id="`day${day.id}_auditorium${track.id}_timeline`">

                                <!-- Lecture start -->
                                <div class="panel schedule-item" v-for="session of track.sessions">
                                    <div class="lecture-icon-wrapper">
                                        <img :src="session.speaker.photo">
                                    </div>
                                    <a data-toggle="collapse" v-bind:data-parent="`#day${day.id}_auditorium${track.id}_timeline`" v-bind:href="`#day${day.id}_auditorium${track.id}_time_${session.id}`" class="schedule-item-toggle collapsed">
                                        <strong class="time highlight"><span class="icon icon-office-24"></span>{{ session.start_at }} - {{ session.end_at }}, {{ session.language == 0 ? 'English' : 'Türkçe'  }}</strong>
                                        <h6 class="title">{{ session.title }}<i class="icon icon-arrows-06"></i></h6>
                                    </a>
                                    <div v-bind:id="`day${day.id}_auditorium${track.id}_time_${session.id}`" class="panel-collapse collapse schedule-item-body">
                                        <article>
                                            <p class="description">{{ session.description }}</p>
                                            <strong class="highlight speaker-name">{{ session.speaker.name }}</strong>
                                        </article>
                                    </div>
                                </div>
                                <!-- Lecture end -->

                            </div>
                            <!-- Accordion end -->

                        </div>
                        <!-- Auditorium content end -->

                    </div>
                    <!-- Second level content end -->

                </div>
                <!-- Day content end -->

            </div>
            <!-- First level content end -->

        </div>
        <!-- Schedule end -->
    </div>

</section>
</div>

<section id="prices" class="section align-center">
    <div class="container">
        <h3 class="main-title">Tickets</h3>
        <br/>
        <br/>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="package-column">
                    <h6 class="package-title">Standart</h6>
                    <div class="package-price">20
                        <span class="currency">$</span>
                    </div>
                    <div class="package-detail">
                        <ul>
                            <li><span class="fa fa-check check-icon"></span>Conference day ticket guarantees admission</li>
                            <li><span class="fa fa-check check-icon"></span>Lunch & Hot / Cold refreshments for both days</li>
                        </ul>
                    </div>
                    <a target="_blank" href="https://kommunity.com/istanbulphp/events/phpkonf-2020/tickets"
                       class="btn btn-lg btn-outline-clr">Buy</a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="package-column special-column">
                    <span class="sale-label uppercase">Hot!</span>
                    <h6 class="package-title">Exclusive</h6>
                    <div class="package-price">100
                        <span class="currency">$</span>
                    </div>
                    <div class="package-detail">
                        <ul>
                            <li><span class="fa fa-check check-icon"></span>Conference day ticket guarantees admission</li>
                            <li><span class="fa fa-check check-icon"></span>Lunch & Hot / cold refreshments</li>
                            <li><span class="fa fa-check check-icon"></span>Private dinner with guest speakers</li>
                        </ul>
                    </div>
                    <a target="_blank" href="https://kommunity.com/istanbulphp/events/phpkonf-2020/tickets" class="btn btn-lg">Buy</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sponsors" class="section align-center">
    <div class="container">
        <h3 class="main-title">Sponsors</h3>
        <p>A unique opportunity to promote your company, product, service to a group of passionate, ambitious and dedicated PHP Developers. You have the chance to increase your PHP Developer teams knowledge, hire the best talent, Increase your brand awareness, show your investment in the sector and reinforce your teams!<br/><a href="mailto:mail@istanbulphp.org">Become a sponsor!</a></p>
        
        <div class="sponsors">
            <h5 class="sponsor-level-title">Track Sponsors</h5>
            <div class="row" style="padding: 30px">
                <div class="col-md-12 align-center">
                    <a target="_blank" href="https://dugun.com">
                        <img width="200" src="assets/images/sponsors/dugun.png" alt="Düğün.com">
                    </a>
                </div>
            </div>
        </div>

        <div class="sponsors">
            <h5 class="sponsor-level-title">Platinum Sponsors</h5>
            <div class="row" style="padding: 30px">
                <div class="col-md-12 align-center" style="padding-top: 24px">
                    <a target="_blank" href="https://itsmoneo.com">
                        <img width="200" src="assets/images/sponsors/moneo.svg" alt="Moneo">
                    </a>
                </div>
            </div>
        </div>

        <div class="sponsors">
            <h5 class="sponsor-level-title">Gold Sponsors</h5>
            <div class="row" style="padding: 30px">
                <div class="col-md-12 align-center" style="padding-top: 24px">
                    <a target="_blank" href="https://www.enuygun.com/">
                        <img width="200" src="assets/images/sponsors/enuygun.svg" alt="Enuygun">
                    </a>
                </div>
            </div>
        </div>

        <div class="sponsors">
            <h5 class="sponsor-level-title">Bronze Sponsors</h5>
            <div class="row" style="padding: 30px">
                <div class="col-md-12 align-center">
                    <a target="_blank" href="https://www.masomo.com/">
                        <img width="200" src="assets/images/sponsors/masomo.png" alt="Masomo">
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="contacts">
    <div class="contacts-wrapper">
        <div id="contacts-map" class="map" data-settings="map-settings.json" style="height:560px;"></div>

        <div class="container contacts-on-map-container">
            <div class="contacts-on-map">
                <h3 class="main-title">Location</h3>

                <ul class="list">
                    <li><i class="fa fa-university"></i>Kadir Has Üniversitesi Cibali Kampüsü
                    <li></li>
                    <li><i class="fa fa-map-marker"></i>Cibali Mah. Hisaraltı Cad. No:17 Fatih / İSTANBUL
                    </li>
                </ul>

                <p style="text-align: right;">How to get there?</p>
            </div>
        </div>
    </div>
</section>

<section class="footer">
    <div class="footer-base">
        <div class="container">

            <div class="col-md-6">
                <ul class="footer-nav">
                    <li class="footer-nav-item"><a target="_blank" href="mailto:mail@istanbulphp.org">Contact</a></li>
                    <li class="footer-nav-item"><a target="_blank" href="http://confcodeofconduct.com/">Code of
                        Conduct</a></li>
                </ul>
            </div>

            <div class="col-md-6 align-right">
                <ul class="socials-nav align-right">
                    <li class="socials-nav-item"><a target="_blank" href="https://twitter.com/istanbulphp"><span
                            class="fa fa-twitter"></span></a></li>
                </ul>
            </div>

        </div>
    </div>
</section>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63786228-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-63786228-1');

    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '293580531094723'); // Insert your pixel ID here.
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=293580531094723&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

<script type="text/javascript">
    _linkedin_data_partner_id = "258996";
</script><script type="text/javascript">
    (function(){var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=258996&fmt=gif" />
</noscript>

<!--[if lt IE 9]>
<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js?ver=1"></script>
<![endif]-->
<!--[if (gte IE 9) | (!IE)]><!-->
<script type="text/javascript" src="assets/js/jquery-2.1.4.min.js?ver=1"></script>
<!--<![endif]-->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
<script src="./app.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key=AIzaSyCdwGRqSLKdTXSBL8r7xoHy5z05877Cuss"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/toastr.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.appear.js"></script>
<script type="text/javascript" src="assets/js/jquery.plugin.js"></script>
<script type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="assets/js/modal-box.js"></script>
<script type="text/javascript" src="assets/js/ventcamp.js"></script>

</body>
</html>
